<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="MainConnStr"/>
    <remove name="other"/>
    <remove name="super6"/>
    <add name="other" connectionString="Server=hx.clevernet.cz\MSSQL1;Database=ds3862yik;Uid=ds3862yik;Pwd=5KWOSxBe;" providerName="System.Data.SqlClient"/>
    <add name="MainConnStr" connectionString="data source=.\SQLEXPRESS;Initial Catalog=bikeincity;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="super6" connectionString="Server=mssql1.clevernet.cz\MSSQL1;Database=ds3211ysd;Uid=ds3211ysd;Pwd=vt9mMPwR;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>