<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  
  <!-- NHibernate configuration for SqlServer 2008 -->
  <!-- Edit the connection string !!! -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!--<property name="connection.connection_string">Server=mssql1.clevernet.cz\MSSQL1;Database=ds3862yik;Uid=ds3862yik;Pwd=5KWOSxBe;</property>-->
      <property name="connection.connection_string">Data Source=.\SQLEXPRESS;Initial Catalog=BikeInCity;Integrated Security=SSPI;</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="adonet.batch_size">20</property>
      <property name="current_session_context_class">web</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->
      <mapping assembly="BikeInCity.DataAccess"/>
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <httpRuntime maxRequestLength="20000"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="https://tkhsdemo02.kite.cz/Services/ExternalService/ExternalAPI_122.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExternalAPI_122" contract="HomePortService.IExternalAPI_122" name="WSHttpBinding_IExternalAPI_122">
        <identity>
          <dns value="tkhsdemo02.kite.cz" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.Bike">
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior"
          binding="webHttpBinding" bindingConfiguration="jsonpBinding"
          contract="BikeInCity.Web.Services.Bike" />
      </service>
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.Info">
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior"
          binding="webHttpBinding" bindingConfiguration="jsonpBinding"
          contract="BikeInCity.Web.Services.Info" />
      </service>
      <!-- BACKWARDS COMPATIBILITY SERVICE -->
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.BikeService">
        <endpoint address="jsonp" behaviorConfiguration="JsonServicesBehavior"
          binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.BikeService" />
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior"
          binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.BikeService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="jsonpBinding" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IExternalAPI_122" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <!-- BACKWARD COMPATIBILITY BINDINGS -->
      <!--
      <customBinding>
        <binding name="jsonBinding">
          <jsonpMessageEncoding/>
          <httpTransport manualAddressing="true"/>
        </binding>
        <binding name="LargeCustomBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>-->
      <!-- END BACKWARD COMPATIBILITY BINDINGS -->
    </bindings>
    <!--BACKWARD COMPATIBLE -->
    <!--<extensions>
      <bindingElementExtensions>
        <add name="jsonpMessageEncoding" type="BikeRouter.Web.Technical.JsonpBindingExtension, BikeRouter.Web2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonServicesBehavior">
          <webHttp />
        </behavior>
        <behavior name="BikeInCity.Web.Services.BikeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="JsonServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <remove name="MainConnStr" />
    <remove name="other" />
    <add name="other" connectionString="Server=mssql1.clevernet.cz\MSSQL1;Database=ds3862yik;Uid=ds3862yik;Pwd=5KWOSxBe;" providerName="System.Data.SqlClient" />
    <add name="MainConnStr" connectionString="Server=.\SQLExpress;Database=bikeincity;Integrated Security =SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RepeatInterval" value="10" />
  </appSettings>
  
</configuration>
<!--<baseAddressPrefixFilters>
        <add prefix="net.tcp://www.super6.cz  "/>
        <add prefix="http://www.super6.cz"/>
      </baseAddressPrefixFilters>-->