<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="dbConnection"
      connectionString="Server=dddfc210-9bf4-44f9-8873-a033012ce999.sqlserver.sequelizer.com;Database=dbdddfc2109bf444f98873a033012ce999;User ID=vlcanlfrldftqsck;Password=ERyYCfx33SUThweygMvuSAEx7fRtrurMnQiiuqdSdmhVNCGedVNbwRNekbZxweJG;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <nlog>
    <extensions xdt:Transform="Replace">
      <add assembly="le_nlog" />
    </extensions>
    <targets xdt:Transform="Replace">
      <target name="logentries" type="Logentries" key="a540aa55-0c26-4f01-9a6f-53abd37160be" location="AppHarbor/Default" debug="true" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}, ${exception:format=tostring}" />
    </targets>
    <rules xdt:Transform="Replace">
      <logger name="*" minLevel="Info" appendTo="logentries" />
    </rules>
  </nlog>
</configuration>