<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">dbConnection</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="adonet.batch_size">20</property>
      <property name="current_session_context_class">web</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <mapping assembly="BikeInCity.DataAccess" />
    </session-factory>
  </hibernate-configuration>
  
  <system.web>
    <httpRuntime maxRequestLength="1000000" />
    <authentication mode="None" />
    <customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <client>
      <endpoint address="https://tkhsdemo02.kite.cz/Services/ExternalService/ExternalAPI_122.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExternalAPI_122" contract="HomePortService.IExternalAPI_122" name="WSHttpBinding_IExternalAPI_122">
        <identity>
          <dns value="tkhsdemo02.kite.cz" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.Bike">
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior" binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.Bike" />
      </service>
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.Info">
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior" binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.Info" />
      </service>
      <!-- BACKWARDS COMPATIBILITY SERVICE -->
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.BikeService">
        <endpoint address="jsonp" behaviorConfiguration="JsonServicesBehavior" binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.BikeService" />
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior" binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.BikeService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="jsonpBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IExternalAPI_122" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonServicesBehavior">
          <webHttp />
        </behavior>
        <behavior name="BikeInCity.Web.Services.BikeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="JsonServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <add name="dbBikeInCity" connectionString="Server=mssql1.clevernet.cz\MSSQL1;Database=ds3862yik;Uid=ds3862yik;Pwd=5KWOSxBe;" />
    <add name="dbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BikeInCity;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="RepeatInterval" value="150" />
  </appSettings>
  <common>
    <logging>
        <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <nlog>
    <extensions>
    </extensions>
    <targets>
      <target name="trace" type="Trace"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="trace"/>
    </rules>
  </nlog>
</configuration>