<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="dbConnection"
      connectionString="Server=283e336f-df39-42dc-b156-a02f017bcda0.sqlserver.sequelizer.com;Database=db283e336fdf3942dcb156a02f017bcda0;User ID=cliauczdacwuncbs;Password=bAH4j4R4gQMEwsXJeFcd3ZeS6R2Y4QJdjjEQEd8kRz2gzzUPqsS8d8YjwX6AcZ8x;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>