<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="dbConnection"
      connectionString="Server=dddfc210-9bf4-44f9-8873-a033012ce999.sqlserver.sequelizer.com;Database=dbdddfc2109bf444f98873a033012ce999;User ID=vlcanlfrldftqsck;Password=ERyYCfx33SUThweygMvuSAEx7fRtrurMnQiiuqdSdmhVNCGedVNbwRNekbZxweJG;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>