<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">dbConnection</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="adonet.batch_size">20</property>
      <property name="current_session_context_class">web</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <mapping assembly="BikeInCity.DataAccess" />
    </session-factory>
  </hibernate-configuration>
  <system.web>
    <httpRuntime maxRequestLength="1000000" />
    <authentication mode="None" />
    <customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.Bike">
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior" binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.Bike" />
      </service>
      <service behaviorConfiguration="JsonServicesBehavior" name="BikeInCity.Web.Services.Info">
        <endpoint address="json" behaviorConfiguration="JsonServicesBehavior" binding="webHttpBinding" bindingConfiguration="jsonpBinding" contract="BikeInCity.Web.Services.Info" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="jsonpBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonServicesBehavior">
          <webHttp />
        </behavior>
        <behavior name="BikeInCity.Web.Services.BikeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="JsonServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BikeInCity;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="RepeatInterval" value="150" />
    <add key="RENNES_KEY" value="1T0DZW0R6JZVGA6" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog>
    <extensions></extensions>
    <targets>
      <target name="trace" type="Trace" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="trace" />
    </rules>
  </nlog>
</configuration>